/*  le 13/02/2022 --- ecran Disney+----------------*/

body,html{
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
}

#wrapper{
    text-align: center;
    color: #fff;
    display: grid;    
    grid-template-columns: minmax(260px, max-content),(8,1fr);
    grid-template-rows: 200px;
    justify-content: center;
    background: linear-gradient(rgb(25, 6, 199), rgba(10, 10, 10));
}

header{
    width: 100%;
    border: 2px solid #fff;
    border-radius: 15px;
    background: url("https://pic.clubic.com/v1/images/1096295/raw");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    height: 40vh;
}

.bandeau{
    display: flex;
    flex-direction: row; 
    grid-template-columns: 1 / 6;
    padding: auto; 
}

figure{
    border-radius : 15px;
    border: solid blue 2px;
    width: 250px;
}

 iframe{
     border-radius: 15px;
    
 }

 /*-----------Media queries----------
 tablettes----*/

 @media screen and (max-width:900px){

    
    header{
        background: url("https://pic.clubic.com/v1/images/1096295/raw");
        background-repeat: no-repeat;
        background-size: cover; 
    }
   
    /* .bandeau{
        display: flex;
        flex-direction: column; 
        padding: auto; 
    } */

 }

 /*-------Smartphones---------*/

 @media (max-width:400px){

    
    .bandeau{
        display: flex;
        flex-direction: column; 
        padding: auto;
        
    }

 }
