/*  le 13/02/2022 --- ecran Disney+----------------*/
html{
    margin: 0 0;
    padding: 0 0;
    
}

.container{
    margin: 0 0;
    padding: 0 0; 
    width: 100%; 
    box-sizing: border-box;  
    background: linear-gradient(rgb(25, 4, 210), rgb(21, 18, 109));
}

#wrapper{
    text-align: center;
    justify-content: center;
    color: #fff;
    display: grid;    
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 5px;    
}

header img{
    width: 96%;
    margin:0 2vw 0 2vw;
    border: 2px solid blue;
    border-radius: 15px;
    height: 55vh;
}

figure{
    border-radius : 15px;
    border: solid blue 3px;
    min-width: 250px;
    min-height: 150px;
    align-items: center; 
}

figure:hover{
    border-radius : 15px;
    border: solid blue 4px;
    background-color: rgba(0, 0, 0, 0.400);
}

figure img{
   min-width: 200px;
   height: 160px;
   padding: 5px 5px;
}

 iframe{
     border-radius: 15px;
 }

 footer{
     color: rgb(7, 104, 223);
 }

 /*-----------Media queries----------

 grand écran*/

 @media screen and (min-width:1590px){

    #wrapper{
        display: grid;    
        grid-template-columns: repeat(5,1fr); 
    }  
    
    header img{
        height: 60vh;
    }
 }

 @media screen and (max-width:1280px){

    #wrapper{
        display: grid;    
        grid-template-columns: repeat(3,1fr);   
    } 
 }

 /*tablettes----*/

 @media (max-width:960px){

    #wrapper{
        display: grid;    
        grid-template-columns: repeat(2,1fr);
        grid-gap: 1px;  
    }
 }

 /*-------Smartphones---------*/

 @media (max-width:590px){

    #wrapper{   
        grid-template-columns: repeat(1,1fr);
    }

 }
